# macOS system files
.DS_Store

# Node.js and npm related
.npm/
.nvm/

# zsh and shell configurations
.zsh_history
.zsh_sessions/
.zshrc
.zprofile.old

# IDEs and editors
.vscode/
.idea/

# Miscellaneous config files
.gitconfig
.bash_history
.bash_sessions/
.mysql_history
.mongodb/

# Application directories
Applications/
Downloads/
Movies/
Music/
Pictures/
Desktop/
Library/
